<div class="container mt-4">
    <h2 class="text-center mb-4">Employee Dashboard</h2>
    <div class="mb-4">
        <button
        class="btn btn-primary"
        [routerLink]="['/create']"
        type="button"
      >
        Add Employee
      </button>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>
    <table class="table table-striped table-bordered" *ngIf="employees.length > 0">
      <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Designation</th>
            <th>Department</th>
            <th>Salary</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.designation }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.salary | currency }}</td>
            <td>
                <button
                    class="btn btn-primary ms-2 mt-2"
                    [routerLink]="['/edit', employee.id]"
                    type="button"
                >
                    Edit
                </button>
                <button
                    class="btn btn-secondary ms-2 mt-2"
                    [routerLink]="['/details', employee.id]"
                    type="button"
                >
                    Details
                </button>
                <button class="btn btn-danger ms-2 mt-2" (click)="deleteEmployee(employee.id)">Delete</button>
            </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="employees.length === 0 && !errorMessage" class="text-center">
      <p>No employees found.</p>
    </div>
  </div>